@import "auds";

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

header {
    a {
        float: left;
    }
}

main {
    margin-top: 1.5rem;
    
    @include AU-media( sm ) {
        @include AU-space( margin-top, 3unit );
    }
}

h1 {
    margin-top: 0;
}

h1::before {
    @media screen and ( min-width: 431px ) {
        display: inline-block;
        content: "";
        border-top: .15rem solid black;
        width: 4rem;
        margin: 0 .5rem;
        transform: translateY(-.5rem);
    }
}

h1::after {
    display: inline-block;
    content: "";
    border-top: .15rem solid black;
    width: 4rem;
    margin: 0 .5rem;
    transform: translateY(-.5rem);
}

.container + .container {
    @include AU-space( margin-top, 3rem);
}

.au-responsive-media-img {
    border-radius: $AU-border-radius;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.5);
    }
}

.icon {
    height: 4rem;
    width: 4rem;

    &:hover {
        transform: scale( 1.2 );
        transition: 0.2s;
    }
}

footer {
    margin-top: 3rem;
    text-align: center
}

div[ class^="col-sm" ] + div[ class^="col-sm" ] {
    @include AU-space( margin-top, 1.5unit );

    @include AU-media( sm ) {
        margin-top:0;        
    }
}

div[ class^="col-md" ] + div[ class^="col-md" ] {
    @include AU-space( margin-top, 1.5unit );

    @include AU-media( md ) {
        margin-top:0;        
    }
}

div[ class^="row" ] + div[ class^="row" ] {
    @include AU-space( margin-top, 1.5unit );      
}